body{
    margin: 0;
    font-family: sans-serif;
}

.primary-btn{
    background: #E55473;
    border-radius: 8px;
    border: 0;
    color:white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}
.primary-color{
   color: #E55473;
}

    /* header/ banner styles */
.header{
    background-color: rgba(229, 84, 115, 0.1);
    width: 100%;
    height:fit-content;
    margin-bottom: 100px;
}

.banner{
    display: flex;
    padding: 0 15%;
    align-items: center;
    justify-content: space-around;
}

/* .banner-content{
    max-width:fit-content;
} */

.banner-title{
    font-family: 'Fasthand', cursive;
    color: #272727;
    font-size: 60px;
    font-weight: 900;
}

.banner-flower{
    width: 500px;
    height: 700px;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
}

main{
    max-width: 1140px;
    margin: 0 auto;

}
/* featured-flower styles */
.featured, .featured-img{
    margin: 2%;
    text-align: center;
}

.featured-flower{
    margin-top: 3%;
    padding: 0% 15%;
    width:fit-content;
}

.featured-flower-title{
    font-family: 'Fasthand', cursive;
    color: #272727;
    font-size: 30px;
    font-weight:900;
}
.featured-img{
    width:fit-content;
}

.featured-flowers-example{
    width: 100%;
    display:flex;
    gap:2%;
    /* padding:0 15% ; */
    text-align: center;
}
.featured-flowers{
    width: 60%;
    height: 412px;
    /* border: 2px solid red; */
    border-radius: 300px 300px 0px 0px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.name-1{
    background: rgba(167, 33, 98, 0.15);;
}
.name-2{
    background: rgba(5, 151, 160, 0.15);
}
.name-3{
    background: rgba(71, 125, 17, 0.15);
}

.flower-img{
    margin-top:10%;
    padding: 5%;
    width:90%;
    height: 88%;
}
.flower-a{
    color: #07ac80;
    font-size: 24px;
    font-weight: 700;
}

/* support styles */
.support{
    width: 82%;
    height:max-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2%;
    margin: 8% 4%;
    padding: 5%;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.support-img{
    text-align: center;
}

/* hot deal style */
.deal-section{
    height:fit-content;

}
#deal{
    width: 116%;
    height:fit-content;
    padding: 0 10% 0 11%;
    margin-left: -20%;
}
.deal-content{
    align-items: center;
    text-align: center;
}
/* .deal-section{
    border:2px solid red;
    width:100%;
    margin: 0;
    height:fit-content;
    background: rgba(229, 84, 115, 0.05);
}

.deal-content{
    align-items: center;
    text-align: center;
} */

/* instagram styles */
.insta-section{
    width: 100%;
    text-align: center;
    padding: 0 5% 5% 5%;
}

.insta-title{
    color: #272727;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Fasthand', cursive;
}
.insta-description{
    padding: 0 20%;
}
.instagram-content{
    display: flex;
    width: 87%;
    gap:2px;
}

.instagram-flowers{
    width: 25%;
    height:25%;
    margin-right: 2%;
}


/* great deal css */
.latest-deals{
    background-image: url('../Rectangle\ 9.png');
    background-repeat: no-repeat;
    height:fit-content;
    width: 83%;
    margin: 0 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
}
.latest-input{
    border: none;
    border-radius: 8px;
    padding: 20px 43px;
    width: 400px;
    margin: 2%;
    height: 23px;
}

/* footer */

footer{
    width: 100%;
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 30px;

}
.footer-content{
    padding: 40px 240px;
}
.footer-title{
    color: white;
    font-size: 48px;
    font-weight: 800;
}


.footer-description{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.copyright{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}




